{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div class="login_wrapper" style="max-width: 30%;min-width: 360px;margin-top: 1%">
        <div class="animate form login_form">
            <section class="login_content">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': {'class': 'fos_user_resetting_reset'}}) }}
                    <h1 style="margin: 10px auto 20px;max-width: 80%">{{ 'resetting.request.title'|trans }}</h1>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="max-width: 80%;margin-left: 10%">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control has-feedback-left','placeholder':'form.password'|trans}}) }}
                        <span class="fa fa-lock form-control-feedback left" aria-hidden="true" style="top: 22px;"></span>
                        <div style="color: darkred;">{{ form_errors(form.plainPassword.first) }}</div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="max-width: 80%;margin-left: 10%">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control has-feedback-left','placeholder':'form.password_confirmation'|trans}}) }}
                        <span class="fa fa-unlock-alt form-control-feedback left" aria-hidden="true" style="top: 22px;"></span>
                        <div style="color: darkred;">{{ form_errors(form.plainPassword.second) }}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <input class="btn btn-default submit" type="submit" value="{{ 'resetting.reset.submit'|trans }}" style="min-width: 46%;margin-left: 27%" />
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br/>
                        <p class="change_link">{{ 'I_want_to_go_back'|trans }}
                            <a href="{{ path('fos_user_security_login') }}" class="to_register">{{ 'to_login'|trans }}</a>
                        </p>
                        <div class="clearfix"></div>
                        <br/>
                        {#<div>#}
                        {#<img src="{{ asset('assets/images/logo.png') }}" alt="..." style="width: 30%">#}
                        {#</div>#}
                        <div class="clearfix"></div>
                        <p>©2016 {{ 'all_rigths'|trans }}. <a href="">{{ 'privacy_and_terms'|trans }}</a></p>
                    </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
</div>

