{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    <h1 style="margin: 10px auto 20px;max-width: 50%">Reset Password</h1>
                    {% dump(form) %}
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <label for="username">Username or email address</label>
                        <div class="clearfix"></div>
                        <input type="text" class="form-control" id="username" name="username" required style="max-width: 50%;margin: 10px auto"/>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <input class="btn btn-default submit" type="submit" style="float: none;margin-left: 0" value="{{ 'resetting.reset.submit'|trans }}" />
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br/>
                        <p class="change_link">I want to go back?
                            <a href="{{ path('fos_user_security_login') }}" class="to_register"> Log in </a>
                        </p>
                        <div class="clearfix"></div>
                        <br/>
                        {#<div>#}
                        {#<img src="{{ asset('assets/images/logo.png') }}" alt="..." style="width: 30%">#}
                        {#</div>#}
                        <div class="clearfix"></div>
                        <p>©2016 All Rights Reserved. <a href="">Privacy and Terms</a></p>
                    </div>
                </form>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
</div>



    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>

