{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div>
        <div class="login_wrapper" style="margin: 10% auto; min-width: 20%; max-width: 21%">

            <h1 style="margin: 30px 0 10px; font-size: 20px">{{ 'registration.confirm_request'|trans }}</h1>
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            <div class="clearfix"></div>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">back to home</a></p>
            {% endif %}
            <div class="separator">
                <div class="clearfix"></div>
                <p class="change_link">
                    <a href="{{ path('dashboard') }}" class="to_register"> {{ 'continue'|trans }} </a>
                </p>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}

