{% trans_default_domain 'FOSUserBundle' %}
<style>
    li {
        list-style: none;
        margin-left: -38px;
        margin-right: 0;
        margin-top: 1%;
        text-align: -webkit-left;
        margin-bottom: -3%;
        color: red;
        font-style: italic;
    }
</style>
<div>
    <div class="login_wrapper" style="margin-top: 1%">
        <div class="animate form login_form">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <section class="login_content" style="padding: 0px">
                <h1>{{ 'registration.title'|trans }}</h1>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="display: none">
                    {{ form_label(form.username,'username'|trans) }}
                    {{ form_widget(form.username,{'attr':{'required':false,'class':'form-control has-feedback-left','placeholder':'username'|trans }}) }}
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true" style="top: 22px;"></span>
                    <div style="color: darkred;">{{ form_errors(form.username) }}</div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    {{ form_label(form.email,'email'|trans) }}
                    {{ form_widget(form.email,{'attr':{'class':'form-control has-feedback-left','placeholder':'email'|trans}}) }}
                    <span class="fa fa-envelope-o form-control-feedback left" aria-hidden="true" style="top: 22px;"></span>
                    <div style="color: darkred;">{{ form_errors(form.email) }}</div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    {{ form_label(form.plainPassword.first,'registration.password'|trans) }}
                    {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control has-feedback-left','placeholder':'registration.password'|trans}}) }}
                    <span class="fa fa-lock form-control-feedback left" aria-hidden="true" style="top: 22px;"></span>
                    <div style="color: darkred;">{{ form_errors(form.plainPassword.first) }}</div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    {{ form_label(form.plainPassword.second,'registration.password_confirmation'|trans) }}
                    {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control has-feedback-left','placeholder':'registration.password'|trans}}) }}
                    <span class="fa fa-unlock-alt form-control-feedback left" aria-hidden="true" style="top: 22px;"></span>
                    <div style="color: darkred;">{{ form_errors(form.plainPassword.second) }}</div>
                </div>
                <div class="clearfix"></div>
                <br/>
                <div>
                    <input class="btn btn-default submit" type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
                <div class="clearfix"></div>
                <br/>
                <div class="separator">
                    <div class="clearfix"></div>
                    <br/>
                    <p class="change_link">{{ 'registration.already_member'|trans }}
                        <a href="{{ path('fos_user_security_login') }}" class="to_register"> {{ 'app.messages.to_login'|trans }} </a>
                    </p>
                    {#<div>#}
                        {#<img src="{{ asset('assets/images/logo.png') }}" alt="..." style="width: 30%">#}
                    {#</div>#}
                    <div class="clearfix"></div>
                    <br/>
                    <p>©2016 {{ 'app.messages.all_rigths'|trans }}. <a href="">{{ 'app.messages.privacy_and_terms'|trans }}</a></p>
                </div>

            </section>
        </div>
    </div>
</div>