{% embed "@App/Admin/admin_dashboard_base.html.twig" %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- bootstrap-progressbar -->
        <link href="{{ asset('assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <!-- Datatables -->
        <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">

    {% endblock stylesheets %}

    {% block page_title %}

        {{ 'app.dashboard.teachers'|trans }}
    {% endblock%}

    {% block page_content %}

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'app.dashboard.lookup.list_teachers'|trans }}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        {{ 'app.dashboard.lookup.teacher_lookup_message'|trans }}
                    </p>
                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Nº</th>
                            <th>{{ 'app.dashboard.teacher_code'|trans }}</th>
                            <th>{{ 'app.dashboard.teacher_full_name'|trans }}</th>
                            <th>{{ 'app.dashboard.document'|trans }}</th>
                            <th>{{ 'app.dashboard.document_type'|trans }}</th>
                            <th>{{ 'app.dashboard.email'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if active is defined and active %}
                            {% set all = false %}
                            {% set count = 1 %}
                            {% for teacher in teachers %}
                                {% if teacher.teacherCode != 'ADMINISTRATOR' %}
                                    <tr>
                                        <td>{{ count }}</td>
                                        <td>{{ teacher.teacherCode }}</td>
                                        <td>{{ teacher.personPerson.fullName }}</td>
                                        <td>{{ teacher.personPerson.document }}</td>
                                        <td>{{ teacher.personPerson.documentType }}</td>
                                        <td>{{ teacher.personPerson.email }}</td>
                                    </tr>
                                {% endif %}
                                {% set count = count + 1 %}
                            {% endfor %}
                        {% else %}
                            {% set all = true %}
                            {% set count = 1 %}
                            {% for teacher in teachers %}
                                {% if teacher.teacherTeacher.teacherCode != 'ADMINISTRATOR' %}
                                    <tr>
                                        <td>{{ count }}</td>
                                        <td>{{ teacher.teacherTeacher.teacherCode }}</td>
                                        <td>{{ teacher.teacherTeacher.personPerson.fullName }}</td>
                                        <td>{{ teacher.teacherTeacher.personPerson.document }}</td>
                                        <td>{{ teacher.teacherTeacher.personPerson.documentType }}</td>
                                        <td>{{ teacher.teacherTeacher.personPerson.email }}</td>
                                    </tr>
                                {% endif %}
                                {% set count = count + 1 %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 noPadding text-center" style="margin-bottom: 1%!important;">
                    <a href="{{ path('export_document',{'type':'teacher','all':all}) }}" id="exportteachers" target="_blank" class="btn-arepa" style="margin: 5px 20px 0 0;padding: 4px 15px;font-size: 16px" >
                        {{ 'app.download_info'|trans }}
                    </a>
                    <div id="import_teachers" class="btn-arepa" data-toggle="modal" data-target="#modalImportTeachers" style="margin: 10px 0;padding: 4px 15px;font-size: 16px" >
                        {{ 'app.update'|trans }}
                    </div>
                    <!-- IMPORT TEACHERS MODAL -->
                    <div class="modal fade" id="modalImportTeachers" tabindex="-1" style="top: 20%;bottom: auto" role="dialog" aria-labelledby="modalImportTeachersLabel" aria-hidden="true">
                        <div class="modal-dialog" style="min-width: 300px;width: 300px;" role="document">
                            <div class="modal-content" >
                                <div class="modal-header" style="padding: 6px;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="font-size: 23px">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="modalImportTeachersLabel" style="font-size: 20px">{{ 'app.import_teachers_info_title'|trans }}</h4>
                                </div>
                                {{ form_start(formInfoTeachers) }}
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <div id="import-teacher-info" class="col-md-12 text-center" style="cursor: pointer;"><img src="{{ asset('assets/images/XLSX.png') }}" style="width: 50%;margin: 10px 0"></div>
                                    </div>
                                    <div id="errorInfoTeachers" class="col-md-12 noPadding">
                                    </div>
                                    <div class="col-md-12" >
                                        {{ form_widget(formInfoTeachers.document,{'required':true,'attr':{'style':'font-size: 16px; display:block; width:100%'}}) }}
                                    </div>
                                </div>
                                <div class="modal-footer" style="padding: 6px;">
                                    {{ form_widget(formInfoTeachers.upload,{'attr':{'class':'btn btn-secondary','style':"background-color: #0b4c86;font-size: 16px; color: white; margin: auto"},'label':'app.import'|trans}) }}
                                    <button type="button" class="btn btn-secondary" style="background-color: #36546f;font-size: 16px; color: white" data-dismiss="modal">{{ 'app.close'|trans }}</button>
                                </div>
                                {{ form_end(formInfoTeachers) }}
                            </div>
                        </div>
                    </div>
                    <!-- END IMPORT TEACHERS MODAL -->
                </div>
            </div>
        </div>

    {% endblock %}

    {% block scriptImport %}
        {{ parent() }}
        <!-- Datatables -->
        <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
        <!-- Datatables -->
        <script>
            jQuery(document).ready(function () {
                $.getScript("{{ asset('assets/vendors/jquery-validation/dist/jquery.validate.js') }}").done(function () {
                    $.getScript("{{ asset('assets/vendors/jquery-validation/dist/additional-methods.js') }}").done(function () {
                        var validator;
                        jQuery.validator.setDefaults({
                            errorPlacement: function (error, element) {
                                if(element.attr("name")=='add_document[document]'){
                                    error.appendTo('#errorInfoTeachers');
                                }

                            }
                        });
                        validator = $("form[name='add_document']").validate({
                            rules: {
                                "add_document[document]": {
                                    required: true,
                                    accept:
                                            'application/vnd.ms-excel,' +
                                            'application/msexcel,' +
                                            'application/x-msexcel,' +
                                            'application/x-ms-excel,' +
                                            'application/x-excel,' +
                                            'application/x-dos_ms_excel,' +
                                            'application/xls,' +
                                            'application/x-xls,' +
                                            'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                                }
                            },
                            messages: {
                                "add_document[document]": {
                                    required: "{{ 'form.select_file'|trans }}",
                                    accept: '{{ 'form.invalid_file_type'|trans }}'
                                }
                            }
                        });
                    });
                });


                $("#import-teacher-info").on('click',function () {
                    $("#add_document_document").click();
                });

                $("form[name='add_document']").on('submit',function (e) {
                    var form = $("form[name='add_document']");
                    if (!form.valid()) {
                        e.preventDefault()
                        return false;
                    }else{
                        return true;
                    }
                });
            });
        </script>
    {% endblock %}



{% endembed %}



