{% trans_default_domain 'FOSUserBundle' %}
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{ 'app.messages.lenguages'|trans }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="min-width: 100%;width: 100%">
                        {#<li><a href="{{ path('app_profile')}}"> Profile</a></li>#}
                        <li><a href="{{ path('language_switcher',{'locale':'en'}) }}">{{ 'app.messages.english'|trans }}</a></li>
                        <li><a href="{{ path('language_switcher',{'locale':'es'}) }}">{{ 'app.messages.spanish'|trans }}</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('assets/images/profile_pic.jpg') }}" alt="">
                        {{ app.user.username }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="min-width: 100%; width: 100%">
                        <li><a href="{{ path('home')}}"><i class="fa fa-user pull-right"></i><span>{{ 'app.messages.profile'|trans }}</span></a></li>
                        <li><a href="#"><i class="fa fa-cog pull-right"></i><span>{{ 'app.messages.settings'|trans }}</span></a></li>
                        <li><a href="#"><i class="fa fa-question-circle pull-right"><span></i>{{ 'app.messages.help'|trans }}</span></a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i>{{ 'app.messages.logout'|trans }}</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="badge bg-green">
                            {% if notifications is defined %}
                                {{ notifications|length }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        {% if notifications is defined %}
                            {% set notification_count = 0 %}
                            {% for notification in notifications %}
                                {% if notification_count<5 %}
                                    <li>
                                        <a>
                                            <span class="image"><img src="{{ notification.sender.profilePic }}" alt="Profile Image" /></span>
                                            <span>
                                            <span>{{ notification.sender.names }}</span>
                                            <span class="time">{{ norification.timeAgo }}</span>
                                        </span>
                                            <span class="message">
                                            {{ notification.message }}
                                        </span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% set notification_count = 1 + notification_count %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->