<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('assets/images/profile_pic.jpg') }}" alt="">
                        {{ app.user.username }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        {#<li><a href="{{ path('app_profile')}}"> Profile</a></li>#}
                        <li><a href="{{ path('home')}}"> Profile</a></li>
                        <li>
                            <a href="#">
                                <span>Settings</span>
                            </a>
                        </li>
                        <li><a href="#">Help</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="badge bg-green">
                            {% if notifications is defined %}
                                {{ notifications|length }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        {% if notifications is defined %}
                            {% for notification in notifications %}
                                <li>
                                    <a>
                                    <span class="image"><img src="{{ notification.sender.profilePic }}" alt="Profile Image" /></span>
                                        <span>
                                            <span>{{ notification.sender.names }}</span>
                                            <span class="time">{{ norification.timeAgo }}</span>
                                        </span>
                                        <span class="message">
                                            {{ notification.message }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->