{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div >
        {{ form_row(form.type) }}
    </div>
    <div style="display: flex; margin: 5px 10px; width:100%;">
        {{ form_label(form.otherTypes,null,{'label':('app.other_types'|trans ~ ':'),'label_attr':{'style':'width:30%;font-size: 12px'}}) }}
        {{ form_widget(form.otherTypes,{'placeholder':'app.select_option'|trans,'attr':{'style':'width:48%;font-size:12px'}}) }}
    </div>
    <div style="display: flex; margin: 5px 0; width:100%;">
        {{ form_label(form.outcomes,null,{'label':('app.outcomes'|trans ~ ':'),'label_attr':{'style':'width:30%;font-size: 14px'}}) }}
        {{ form_widget(form.outcomes,{'attr':{'style':'width:60%;font-size:16px'}}) }}
    </div>
    <div style="display: flex; margin: 5px 0; width:100%;">
        {{ form_label(form.percentage,null,{'label':('app.percentage'|trans ~ ':'),'label_attr':{'style':'width:30%;font-size: 14px'}}) }}
        {{ form_widget(form.percentage,{'attr':{'style':'width:13%;font-size:12px;border-radius:5px;'}}) }}
    </div>
</div>