{% extends ":user:base.html.twig" %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% block stylesheets %}
        {{ parent() }}
        <style>
            a{
                cursor: pointer;
            }
        </style>
    {% endblock stylesheets %}

    {% block page_title %}
    {% endblock%}

    {% block sidebar %}
        {% embed 'user/sidebar.html.twig' %}
            {% trans_default_domain 'FOSUserBundle' %}
            {% block main_menu %}
                <li class=""><a><i class="fa fa-book"></i>{{ 'courses'|trans }}<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="{{ path('teacher_dashboard',{'type':0}) }}"></i>{{ 'active_courses'|trans }}</a></li>
                        <li><a href="{{ path('teacher_dashboard',{'type':1}) }}"></i>{{ 'courses'|trans }}</a></li>
                    </ul>
                </li>
                <li class=""><a><i class="fa fa-address-book-o"></i>{{ 'classes'|trans }}<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="{{ path('teacher_dashboard',{'type':2}) }}"></i>{{ 'active_classes'|trans }}</a></li>
                        <li><a href="{{ path('teacher_dashboard',{'type':3}) }}"></i>{{ 'classes'|trans }}</a></li>
                    </ul>
                </li>
                <li class=""><a><i class="fa fa-table"></i>{{ 'evaluation_models'|trans }}<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="#"></i>{{ 'my_evaluation_models'|trans }}</a></li>
                    </ul>
                </li>
                {#<li class=""><a><i class="fa fa-search"></i>{{ 'app.dashboard.lookup.title'|trans }}<span class="fa fa-chevron-down"></span></a>#}
                    {#<ul class="nav child_menu" style="display: none">#}
                        {#<li><a href="{{ path('course_lookup') }}"><i class="fa fa-book"></i>{{ 'app.dashboard.courses'|trans }}</a></li>#}
                    {#</ul>#}
                {#</li>#}
            {% endblock %}
            {% block side_menu %}
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li class=""><a><i class="fa fa-calendar"></i>{{ 'agenda'|trans }}<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none;">
                                <li><a href="{{ path('home') }}">{{ 'calendar'|trans }}</a></li>
                                <li><a href="{{ path('home') }}">{{ 'contacts'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block page_content %}

    {% endblock %}

    {% block scriptImport %}
        {{ parent() }}
        <script>
            $(document).ready(function() {
                var handleDataTableButtons = function() {
                    if ($("datatable-buttons").length) {
                        $("#datatable-buttons").DataTable({
                            dom: "Bfrtip",
                            buttons: [{extend: "copy", className: "btn-sm"},{extend: "csv", className: "btn-sm"},{extend: "excel",className: "btn-sm"},{extend: "pdfHtml5", className: "btn-sm"},{extend: "print", className: "btn-sm"},],
                            responsive: true
                        });
                    }
                };
                TableManageButtons = function() {
                    "use strict";
                    return {
                        init: function() {
                            handleDataTableButtons();
                        }
                    };
                }();

                $('#datatable').dataTable();
                $('#datatable-keytable').DataTable({
                    keys: true
                });

                $('#datatable-responsive').DataTable();

                $('#datatable-scroller').DataTable({
                    ajax: "js/datatables/json/scroller-demo.json",
                    deferRender: true,
                    scrollY: 380,
                    scrollCollapse: true,
                    scroller: true
                });
                TableManageButtons.init();
                var table = $('table[id^="datatable-fixed-header"]').DataTable({
                    "language": {//setting translations for datatable
                        "sProcessing":     "{{ 'processing'|trans }}",
                        "sLengthMenu":     "{{ 'table_display'|trans }}",
                        "sZeroRecords":    "{{ 'zero_record'|trans }}",
                        "sEmptyTable":     "{{ 'empty_table'|trans }}",
                        "sInfo":           "{{ 'table_info'|trans }}",
                        "sInfoEmpty":      "{{ 'info_empty'|trans }}",
                        "sInfoFiltered":   "{{ 'info_filtered'|trans }}",
                        "sInfoPostFix":    "",
                        "sSearch":         "{{ 'info_search'|trans }}",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "{{ 'loading'|trans }}",
                        "oPaginate": {
                            "sFirst":    "{{ 'first'|trans }}",
                            "sLast":     "{{ 'last'|trans }}",
                            "sNext":     "{{ 'next'|trans }}",
                            "sPrevious": "{{ 'previous'|trans }}"
                        },
                        "oAria": {
                            "sSortAscending": "{{ 'sortAsc'|trans }}",
                            "sSortDescending": "{{ 'sortDesc'|trans }}"
                        }
                    },
                    fixedHeader: false // necesary to prevent fixed headers at the end of the page bug
                });
            });
        </script>
    {% endblock %}





