{% extends "@App/Teacher/teacher_dashboard_base.html.twig" %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    {% block page_title %}
        {{ 'app.dashboard.lookup.list_courses'|trans }}
    {% endblock%}


    {% block page_content %}
        <div class="row tile_count">
            <!-- COURSE COUNT -->
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <div class="text-center">
                    <span class="count_top"><i class="fa fa-book"></i> {{ 'app.dashboard.courses'|trans }}</span>
                    <div class="count text-center">{{ teacherCourses|length }}</div>
                    <span class="count_bottom">{{ 'app.dashboard.last_add'|trans }}: <br>{{ lastTeacherCourse.courseCourse.createdAt|date('d M',"America/Bogota") }}</span>
                </div>
            </div>
            <!-- END CURSE COUNT -->
            <!-- CLASS COUNT -->
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <div class="text-center">
                    <span class="count_top"><i class="fa fa-book"></i> {{ 'app.dashboard.classes'|trans }}</span>
                    <div class="count text-center"><a href="{{ path('course_lookup') }}">{{ teacherCourses|length }}</a></div>
                    <span class="count_bottom">{{ 'app.dashboard.last_add'|trans }}: <br>{{ lastTeacherCourse.courseCourse.createdAt|date('d M',"America/Bogota") }}</span>
                </div>
            </div>
            <!-- END CLASS COUNT -->
        </div>
    {% endblock %}